.output {
    border: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: black;
}
.input {
    border: solid;
    border-radius: 0px;
    border-width: 1px;
    border-color: black;
}
textarea {
    resize: none;
    width: 1000;
    height: 800;
}